<div class="center hero-unit">
  <h1>Welcome to Freddit</h1>

  <h2>
    This is the home page for the
    <a href="http://railsgrrls.tumblr.com/">Rails Grrls</a>
    sample application, Freddit.
  </h2>
  <br>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <br>
  <br>
  <br>
  Already signed up?
  <br>
  <br>
  <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
</div>
