<% if signed_in? %>
	<h1>Edit This Idea</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @idea %> |
	<%= link_to 'Back', ideas_path %>
<% else %>
	<h2>You must <%= link_to 'sign-in', signin_path %> to edit this idea.</h2>
<% end %>