<h1>Create a New Idea</h1>

<% if signed_in? %>
	<%= render 'form' %>

	<%= link_to 'Back', ideas_path %>
<% else %>
	<h2>You must <%= link_to 'sign-in', signin_path %> to create a new idea.</h2>
<% end %>